<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
        footer {
            border-top: 1px dashed #b5e853;
            margin-top: 40px;
            padding: 20px;
        }

    </style>
    {% seo %}
</head>

<body>

<header>
    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="Links">
            <h3>📝 Links:</h3>
            {% for doc in site.pages %}
            {% if doc.url contains '.wiki' %}
            <a href="{{doc.url}}" class="btn">{{doc.title}}</a>
            {% else %}
            {% if doc.name contains '.md' %}
            <a href="{{doc.url}}" class="btn">{{doc.title}}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>

    </div>
</header>

<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
</div>

<footer>
<div class="container">
    <h3>📦️ Packages:</h3>
    <section id="downloads">
        {% for repository in site.github.public_repositories %}
        {% if repository.has_pages and repository.has_downloads and repository.name != site.github.project_title %}
        <a href="{{ repository.homepage }}" class="btn btn-package"><span class="icon">{% octicon package stroke:white stroke-width:1 stroke-opacity:0.6 %}</span>{{ repository.name }}</a>
        {% endif %}
        {% endfor %}
    </section>
</div>
</footer>
</body>
</html>
